img {
  max-width: 100%;
  height: auto;
}
.photo {
  height: 250px;
  object-fit: cover;
  width: 350px;
  border-color: #8a6844;
  border-radius: 10px;
  display: block;
}
body {
  background-color: #e5d9cb;
}
.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-image: linear-gradient(
    to bottom,
    #dfcfbe 15%,
    #d1bba2 45%,
    #c4a687
  );
  margin-bottom: 15px;
}
.search-input {
  display: flex;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  background-color: #ece2d8;
  border: none;
  width: 30%;
  box-shadow: 0 4px 8px 0 #6c3e0d;
}
input::placeholder {
  color: #6c3e0d;
}
input[type='text'] {
  color: #6c3e0d;
}
.search-button,
.load-more {
  background-color: #c4a687;
  border: 1px solid #8a6844;
  margin-left: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  color: #5c4125;
  cursor: pointer;
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 35px;
  overflow: visible;
  padding: 4px 18px;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 4px 8px 0 #6c3e0d;
}

.search-button:hover,
.load-more:hover {
  background-color: #a3886a;
  color: #e0cdbc;
}

.search-button:active,
.load-more:active {
  background-color: #6c3e0d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.load-more {
  margin-left: 550px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 2px 16px;
}

.photo-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 3px;
  max-width: 300px;
  color: #8a6844;
  transition: transform 0.3s ease;

  box-shadow: 0 4px 8px 0 #6c3e0d;
  transition: 0.3s;
  width: 40%;
}
.photo-card:hover {
  cursor: pointer;
  color: white;
  background-color: #c4a687;
  transform: scale(1.1);
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.info-item {
  text-align: center;
  flex: 1;
  max-width: 100px;
  padding: 4px;
  margin-top: 10px;
}
